body {
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4e4e4e;
}

.nav-item {
    float: right;
}

.li-title {
    float: left;
}

.nav-link, .nav-title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #323232;
}

.sections {
    padding-top: 10px;
}

.section1, .section2, .section3 {
    width: 33.333333333333333333333333333333%;
    height: 33%;
    float: left;
}

.section1, .section3 {
    background-color: #4287f5;
}

.section2 {
    background-color: #3067bf;
}

.section-header {
    text-align: center;
}

h1, h2, h3 {
    font-family: Montserrat;
    text-align: center;
}

p, li {
    text-align: justify;
    padding: 5px 10px 5px 10px;
    font-family: Lato;
}

.welcome p {
    text-align: center;
}

.welcome {
    width: 40%;
    margin: auto;
}

.card-request {
    width: 40%;
    margin: auto;
    text-align: center;
}

.card-request p {
    text-align: center;
}

.btn {
    background-color: #4287f5;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    text-decoration: none;
}