#projectdivs {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.project {
    width: 100%;
}

.projectname {
    margin: 0;
    font-size: 18px;
}

.projectseparator {
    height: 4px;
    background: rgb(48, 48, 48);
    margin-bottom: 16px;
}