#rip {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Montserrat';
    font-size: 5em;
}
h2 {
    font-family: 'Lato';
    font-size: 3em;
}

.rainbow_text_animated {
    text-align: center;
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    color: #45a3e5;
    animation: rainbow_animation 10s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100%
	{
		color: #45a3e5;
	}
	12%
	{
		color: #3cc;
	}
	25%
	{
		color: #66bf39;
	}
	38%
	{
		color: #ffa602;
	}
	50%
	{
		color: #eb670f;
	}
	62%
	{
		color: #f35;
	}
	76%
	{
		color: #864cbf;
	}
}